<h2>Welcome to your user dashboard</h2>

<Table width="600px">
	<tr><center>
		<td><%= link_to 'Create New Program', new_program_path %></td>
		<td><%= link_to 'Veiw my programs set', programs_path %></td>
		<td><%= link_to 'Account Settings', edit_coach_registration_path %></td>
	</center></tr>
</Table>
