
<!-- Banner -->
			<div id="banner-wrapper">
				<section id="banner">
					<h2>Coaching has never been made easier</h2>
					<span class="byline">Improve the way you can coach your athletes by joining for free today!</span>
					<a href="<%= new_coach_registration_path %>" class="button">Click here to Sign up</a>
				</section>
				
			</div>
<!-- /Banner -->
<table background="red" width="100%">
	<td> hello </br> </td>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


