// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.allbutton {
    background-image: url('http://www.clker.com/cliparts/v/W/K/8/x/z/whitey-glossy-rectangle-button-hi.png');
    background-repeat:no-repeat;
    display:block;
    float:left;
    margin:0 7px 0 0;
  }